@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@mixin golden-ratio($size) {
	font-size: $size;
	line-height: $size * 1.6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 110%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	@include golden-ratio(1rem);
}

.container {
	max-width: 100%;
	width: 1200px;
	margin: 0 auto;
}

header {
	padding: 20px 0;
}

nav {
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	font-size: smaller;

	ul {
		list-style-type: none;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0 10px;
		justify-content: start;

		li {
			padding: 5px;

			a {
				&.active {
					color: #069;
				}
			}
		}
	}
}

main {
	margin: 20px 0;
}

footer {
	font-size: smaller;
	border-top: 1px solid #222;
	font-style: italic;
}

.post {
	&-container {
		margin-top: 20px;
	}

	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}

	&-metadata {
		font-size: smaller;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0 20px;
		justify-content: start;
	}

	&-tags {
		display: flex;
		flex-direction: row;
		margin-top: 10px;

		& > a {
			margin-right: 10px;
			background-color: #069;
			color: #fff;
			padding: 0 5px;
			border-radius: 5px;
			font-size: small;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&-content {
		margin: 10px 0;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	text-align: justify;
	padding: 10px 0;
}

h1 { @include golden-ratio(1.3rem) }
h2 { @include golden-ratio(1.15rem) }
h3 { @include golden-ratio(1rem) }

@media screen and (max-width: 1000px) {
	.container {
		padding: 5px;
	}
}
